<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Page01 - HTML Slicing</title>
  </head>
  <body>
    <div class="container page-container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <label class="card__label card__label--light"
              >Search for recipes</label
            >
            <div class="search-input">
              <i class="fas fa-search search-input__icon"></i>
              <input
                type="text"
                class="search-input__input"
                placeholder="Your email address"
              />
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="card card--light">
            <label class="card__label">Difficulty</label>
            <div class="radio-input">
              <div class="radio-input__input-group">
                <input
                  class="radio-input__input"
                  type="radio"
                  name="difficulty"
                  value="Easy"
                  id="difficulty-easy"
                />
                <label for="difficulty-easy" class="radio-input__button"
                  >Easy</label
                >
              </div>
              <div class="radio-input__input-group">
                <input
                  class="radio-input__input"
                  type="radio"
                  name="difficulty"
                  value="Medium"
                  id="difficulty-medium"
                  checked
                />
                <label for="difficulty-medium" class="radio-input__button"
                  >Medium</label
                >
              </div>
              <div class="radio-input__input-group">
                <input
                  class="radio-input__input"
                  type="radio"
                  name="difficulty"
                  value="Hard"
                  id="difficulty-hard"
                />
                <label for="difficulty-hard" class="radio-input__button"
                  >Hard</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="card card--light">
            <div class="d-flex">
              <div class="icon-span mr-4">
                <i class="far fa-clock icon-span__icon"></i>
                <span class="icon-span__text">30 min</span>
              </div>
              <div class="icon-span mr-4">
                <i class="fas fa-chart-pie icon-span__icon"></i>
                <span class="icon-span__text">6 services</span>
              </div>
              <div class="icon-span">
                <i class="far fa-chart-bar icon-span__icon"></i>
                <span class="icon-span__text">210 cols</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="card card--light">
            <div class="card__introduction">
              <div class="card__introduction-image">
                <img src="<%= BASE_URL %>images/food-s-01.jpg" alt="food 01" />
              </div>
              <div class="card__introduction-info">
                <label class="card__label">Spinach Solod</label>
                <p class="card__description">
                  Quickly manage the layout, alignment, and sizing of grid
                  columns, navigation, components, and more with a full suite of
                  responsive flexbox utilities.
                </p>
                <div>
                  <i class="fas fa-star card__introduction-score"></i>
                  <i class="fas fa-star card__introduction-score"></i>
                  <i class="fas fa-star card__introduction-score"></i>
                  <i class="fas fa-star card__introduction-score"></i>
                  <i class="fas fa-star card__introduction-score"></i>
                  <span class="card__description ml-2">14k</span>
                </div>
              </div>
            </div>
            <div class="card__collect-button">
              <i class="far fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="card card--light">
            <div class="card__banner"></div>
            <div class="card__form mb-4">
              <label class="card__description mb-2">SUBSCRIBT TODAY</label>
              <label class="card__label mb-2">Never miss a recipe</label>
              <input
                type="text"
                class="input mb-2"
                placeholder="Your email addrsss"
              />
              <input type="button" class="button" value="Subseribe" />
            </div>
            <div class="card__description text-center">
              We won't send you spam.
            </div>
            <div class="card__description text-center">
              Unsubscribe at any time.
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="card card--light card--full">
            <div class="carousel">
              <div class="carousel__inner-container">
                <div class="carousel__item">
                  <div class="carousel__item-image">
                    <img
                      src="<%= BASE_URL %>images/food-s-01.jpg"
                      alt="food 01"
                    />
                  </div>
                  <label class="carousel__item-text"
                    >Crispy Crouton Salad</label
                  >
                </div>
                <div class="carousel__item">
                  <div class="carousel__item-image">
                    <img
                      src="<%= BASE_URL %>images/food-s-01.jpg"
                      alt="food 01"
                    />
                  </div>
                  <label class="carousel__item-text"
                    >Crispy Crouton Salad</label
                  >
                </div>
                <div class="carousel__item">
                  <div class="carousel__item-image">
                    <img
                      src="<%= BASE_URL %>images/food-s-01.jpg"
                      alt="food 01"
                    />
                  </div>
                  <label class="carousel__item-text"
                    >Crispy Crouton Salad</label
                  >
                </div>
                <div class="carousel__item">
                  <div class="carousel__item-image">
                    <img
                      src="<%= BASE_URL %>images/food-s-01.jpg"
                      alt="food 01"
                    />
                  </div>
                  <label class="carousel__item-text"
                    >Crispy Crouton Salad</label
                  >
                </div>
                <div class="carousel__item">
                  <div class="carousel__item-image">
                    <img
                      src="<%= BASE_URL %>images/food-s-01.jpg"
                      alt="food 01"
                    />
                  </div>
                  <label class="carousel__item-text"
                    >Crispy Crouton Salad</label
                  >
                </div>
              </div>
              <div class="carousel__nav">
                <div class="carousel__nav-button carousel__nav-button--prev">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="carousel__nav-button carousel__nav-button--next">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
