<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
  <title>Page02 - Login</title>
</head>

<body>
  <div class="container-fluid page-container">
    <div class="login-card">
      <div class="login-card__form-container">
        <p class="login-card__title">Log In</p>
        <p class="login-card__sub-title">Log in to your account to upload or download pictures, videos or music.</p>
        <form class="login-coard__form" action="#">
          <input id="email" type="text" name="email" class="login-card__input" placeholder="Enter your email address">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <a href="#" class="login-card__link">Forgot password?</a>
            <button id="buttonNext" class="login-card__button">Next →</button>
          </div>
        </form>
        <hr class="login-card__divider">
        <p class="color-text-gray text-center">Or log in with</p>
        <div class="login-card__other-container">
          <button id="buttonFbLogin" class="login-card__social-button">
            <i class="icon icon--facebook"></i>
            Facebook
          </button>
          <button id="buttonGoogleLogin" class="login-card__social-button">
            <i class="icon icon--google"></i>
            Google
          </button>
        </div>
        <p class="color-text-dark text-center">
          Don't have an account yet?
          <a href="#" class="login-card__link login-card__link--underline">Sign up</a>
        </p>
      </div>
      <div class="login-card__background"></div>
    </div>
  </div>
</body>

</html>
